<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}

form {
    text-align: center;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e5e5e5;
}

    </style>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label>Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com" />
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.No</th>
                    <th>Short ID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectUrl %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>